{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">About us</h1>
        <div class="col-sm-11">
        <p style="text-align: justify;color:#696763; font-size:16px;text-transform:none; font-weight:300">
            As of the present moment, Kitab Pasal is an online bookstore, based at Lokanthali,Bhaktapur. Since 2021, Kitab Pasal has existed as a tiny island of peace in a fast-moving world. Thriving and growing every year, the business that started from a post-card board selling postcards to tourists in the heart of Lakeside has grown to be one of the hidden jewels of Bhaktapur with floor-to-ceiling stacks of books and a generally inclusive vibe that makes it seem like a neighborhood spot for anyone and everyone. Our mission is to become one of the largest book distributors in Nepal. The shelves store an endless choice of books and the catalogue is always growing. You can take time browsing the seemingly endless selection of rare coffee table books and attractive souvenir items.        </p>
    </div>
</div>
</div>
{% endblock content %}

{% block title%}
ABOUT US
{% endblock %}
