{% extends "base.html" %}
{% load static %}
{%block start%} 
<div class="col-sm-3">
    <div class="search_box pull-right">
        <div class="input-group">
        <form method="POST">
            {% csrf_token %}
            <input name="query" type="text" placeholder="Search" value="{{search_query}}"/>
            </form>
    </div>
    <!-- <form class="form-inline" method="POST">
        {% csrf_token %}
        <div>
        <input name="query" class="form-control" type="text"
        placeholder="Search/enter price-range" aria-label="Search"
        value="{{search_query}}">
        </div>
        </form> -->
</div>
</div>
{% if products.has_next  %}
{% if products.next_page_number == 2 %}
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <br>
                    <br>
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>BEST</span>-SELLER</h1>
                                <h2>{{best_seller.name}}</h2>
                                <p>{{best_seller.author}} </p>
                                <button type="button" class="btn btn-default get"><a style="color:white" href="/details/{{best_seller.id}}">Get it now</a></button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{best_seller.image_url}}" class="girl img-responsive" alt="book" />
                                <!-- <img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" /> -->
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>OUR</span>-PICK</h1>
                                <h2>{{our_pick.name}}</h2>
                                <p>{{our_pick.author}} </p>
                                <button type="button" class="btn btn-default get"><a style="color:white" href="/details/{{our_pick.id}}">Get it now</a></button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{our_pick.image_url}}" class="girl img-responsive" alt="book" />
                                <!-- <img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" /> -->
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>NEW</span>-ARRIVAL</h1>
                                <h2>{{new_arrival.name}}</h2>
                                <p>{{new_arrival.author}} </p>
                                <button type="button" class="btn btn-default get"><a style="color:white" href="/details/{{new_arrival.id}}">Get it now</a></button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{new_arrival.image_url}}" class="girl img-responsive" alt="book" />
                                <!-- <img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" /> -->
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}


{%endblock start%}
{% block content %}
<h1 class="text-center title">Books</h1>
{% for product in products %}
<div class="col-sm-3">
    <div class="product-image-wrapper">
        <div class="single-products">
            {% if product.new == True %}
            <img src="{% static 'images/home/new.png' %}" class="new" alt="" style="z-index: 1;"/>
            {% endif %}
            <div class="productinfo text-center">
                <a href="/details/{{product.id}}">
                <img src="{{product.image_url}}" alt="" height="350px" width="200px"/>
                <h2 style="font-size:medium">{{ product.name|truncatechars:30 }}</h2>
                <p>Rs. {{ product.price }}</p>
                </a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <!-- <h2>{{ product.name }}</h2> -->
                    <p>By - {{ product.author|truncatechars:30 }}</p>
                    <!-- <p>{{ product.description }}</p>
                    <p>Rs. {{ product.price }}</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Wish List</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block pagee %}


<ul class="pagination" >
    {% if products.has_previous  %}
    <li><a href="?page={{products.previous_page_number}}" >&laquo;</a></li>
    {% endif %}
    
   
    <li class="page-link{% if i == page_number %} active {% endif %}">
        <a class="page-link" href="?page=page">{{products.number}}</a>
    </li>
    {% if products.has_next  %}
    <li><a href="?page={{products.next_page_number}}" aria-label="Next">&raquo;</a></li>
    {% endif %}
</ul>


{% endblock pagee%}

{% block title %}
Home
{% endblock title %}

